@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach (var item in ViewBag.Posts)
{
    <p>@item.title</p>
    <p>@item.created_at</p>
    <a asp-action="Delete" asp-route-id="@item.post_id">Delete</a>
    <a asp-action="Details" asp-route-id="@item.post_id">Details</a>
}
